@{
    ViewData["Title"] = "Privacy Policy";
    @model UserModel;
}
<h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy.</p>



@Html.DisplayNameFor(model => model.ID):@Html.DisplayTextFor(model => model.ID)<br />
@Html.DisplayNameFor(model => model.Name):@Html.DisplayTextFor(model => model.Name)